{% extends 'common_navbar.html' %}
{% block body %}

<main class="profile">
    <section class="profile-header">
        <h2>Student Profile</h2>
    </section>
    <section class="profile-contents">
        <div class="profile-left-container">
            <div class="profile-image-container">
                <img src="/static/images/aks-logo.png" alt="">
            </div>
            <h5 class="profile-batch">Batch : 2022 - 26</h5>
        </div>

        <div class="profile-right-container">
            <div class="profile-department">
                <h5>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h5>
                <hr>
            </div>
            <div class="profile-details">
                <div class="profile-first-half">
                    <div class="profile-details_1">
                        <p>Name :</p>
                        <p>Course :</p>
                        <p>Current Semester :</p>
                    </div>

                    <div class="profile-details_2">
                        <p>{{ details[2] }}</p>
                        <p>{{ details[4] }}</p>
                        <p>{{ details[3]}} Sem.</p>
                    </div>
                </div>

                <div class="profile-second-half">
                    <div class="profile-details_3">
                        <p>Student Code :</p>
                        <p>Enrollment No. :</p>
                        <p>Admission Category :</p>
                    </div>

                    <div class="profile-details_4">
                        <p>{{ details[0] }}</p>
                        <p>{{ details[1] }}</p>
                        <p>{{ details[5] }} Based</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}